{% extends "gobotany/_edit_base.html" %}

{% block body_content %}
{% load edit_trail %}

<h1>All Edited Taxa</h1>
<p>
← <a href="{% url gobotany.editor.views.piles_view %}">return to pile listing</a><br>
</br>
<table class="TaxaListing">
  <thead>
    <tr>
      <th class="coord taxon">Taxon</th>
      <th class="date">Date</th>
      <th class="author">Editor</th>
    </tr>
  </thead>
  <tbody>
    {% for edit in edits %}
    <tr>
      <td class="coord taxon">{{ edit.coordinate1|taxon_edit }}</td>
      <td class="date">{{ edit.datetime|date:"Y-m-d H:i" }}</td>
      <td class="author">{{ edit.author }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if not edits|length %}
<div class="NoEdits">
  No Edits Found
</div>
{% endif %}

<div class="pagination">
  <span class="step-links">
    {% if edits.has_previous %}
    <a href="?page={{ edits.previous_page_number }}">&larr; previous</a>
    {% endif %}
    
    <span class="current">
      Page {{ edits.number }} of {{ edits.paginator.num_pages }}
    </span>
    
    {% if edits.has_next %}
    <a href="?page={{ edits.next_page_number }}">next &rarr;</a>
    {% endif %}
  </span>
</div>
{% endblock %}