@import "../../../../external/gobotany-app/gobotany/static/sass/_simplekey";

body.skey.results {
	
	.toplink {
		display: none;
	}

}

@media only screen and (max-width: 400px) {

	body.skey.results {

		#results-display label {
			display: inline;
		}

    	#question-nav {
    		.section.family-genus h6 {
	    		display: block;
   			}
   		}

   		.toplink {
   			margin-top: 1em;
   			clear: both;
   			text-align: center;
   		}

   	}

}