@import "../../../../external/gobotany-app/gobotany/static/sass/_simplekey";

body.skey.results {
  .instructions.close-filters, #filters-preview {
    display: none;
  }
}

@media only screen and (max-width: 400px) {

  body.skey.results {

    #results-display label {
      display: inline;
    }

    #question-nav {
      .section.family-genus h6 {
        display: block;
      }
      &.closed .instructions.close-filters {
        display: none;
      }
    }

    &.mobile-preview-filters #filters-preview {
      display: block;
      border-bottom: solid 1px #000;
      li {
        list-item-type: none;
        display: none;
        &.answered {
          display: inline;
        }
        .name {
          font-weight: bold;
        }
      }
      .clear-filter {
        display: none;
      }
    }

  }

}