{ [ -x "$(command -v python3.10)" ] && layout python python3.10 && echo Using python3.10; } ||
{ [ -x "$(command -v python3.9)" ] && layout python python3.9 && echo Using python3.9; } ||
{ echo No suitable python version found. Exiting; exit 1 ; }

export DOCKER_BUILDKIT=1
export DOCKER_CLI_EXPERIMENTAL=enabled
