/*
  Components: Buttons
*/

input.button,
.button {
  border: 1px solid $darkerBlue;
  border-radius: 2px;
  @include box-shadow(inset 1px 1px 1px $lightestBlue);
  color: $white;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  @include font-size(14);
  line-height: 1;
  @include linear-gradient($blue, $darkBlue);
  margin: 20px 0 0;
  padding: 8px 20px;
  text-shadow: 1px 1px 1px $navy;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  width: auto;
  
  &:hover {
    background: $navy;
    @include box-shadow(none);
  }
  
  &.large {
    @include font-size(20);
    padding: 15px 30px;
  }
  
  &.red {
    border: 1px solid $darkMaroon;
    @include box-shadow(inset 1px 1px 1px $lightestMaroon);
    @include linear-gradient($lighterMaroon, $maroon);
    text-shadow: 1px 1px 1px $darkestMaroon;
  }
  
  &.green {
    border: 1px solid $darkerGreen;
    @include box-shadow(inset 1px 1px 1px $lightestGreen);
    @include linear-gradient($green, $darkGreen);
    text-shadow: 1px 1px 1px $darkestGreen;
  }
  
  &.search-field {
    border: 0;
    @include box-shadow(none);
    color: $darkestGreen;
    font-family: 'icomoon';
    @include font-size(18);
    @include linear-gradient($lighterGray, $lightGray);
    padding: 4px 10px;
    text-shadow: none;
    
    &:hover {
      background: $lightGray;
    }
  }
  
  &.small {
    @include font-size(12);
    padding: 6px 10px;
  }
}

  // Header Button
  header {
    .button {
      border: 1px solid $darkBlue;
      @include linear-gradient($lighterBlue, $lightBlue);
      margin: 0 0 0 15px;
      padding: 10px 15px;
      text-transform: uppercase;
    }
  }