/*
  Components: Input
*/

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  border: 1px solid $gray;
  @include box-shadow(inset 1px 1px 1px $lighterGray);
  color: $darkestGreen;
  display: block;
  font-family: 'Open Sans', sans-serif;
  @include font-size(12);
  line-height: 1.5;
  padding: 7px 5px;
  vertical-align: middle;
  -webkit-appearance: none;
  width: 100%;
}
  