/* Wait spinners */
.wait-spinner {
    background: url(../images/icons/preloaders-dot-net-lg.gif)
        no-repeat scroll center center transparent;
    height: 350px;
    margin: auto;
    /* Wait spinner's children are hidden until the parent is unspinnered. */
    * { display: none; }
}