{% extends "gobotany/_base.html" %}
{% load static_url %}

{% block title %}{{ flatpage.title }}{% endblock %}
{% block title_suffix %}{% endblock %}

{% block body_attributes %}id="{{url|slugify}}"{% endblock %}

{% block header %}
    {% include "gobotany/_header.html" %}
{% endblock %}

{% block body_content %}
    <div class="content">
      <div class="container">
        {{ flatpage.content|static_url }}
      </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "gobotany/_footer.html" %}
{% endblock %}
