/*
  Mixins
*/

// Typography

  @mixin font-size ($size: 13, $parentSize: 16) {
    font-size: 0px + $size;
    font-size: 0rem + $size/$parentSize;
  }

// Layout

  @mixin separator {
    margin: 0 0 45px;
    
    @include media(max-width 500px) {
      margin: 0 0 35px;
    }
  }

  @mixin shadowbox-photo-titles-credits {
      /* Override Shadowbox styles to allow multiple title lines for
       * showing a photo title, photographer credit, and copyright. */
      #sb-title, #sb-title-inner {
          height: 76px;
          line-height: 70%;
          position: relative;
      }
      #sb-title-inner {
          div {
              bottom: 6px;
              position: absolute;
          }
          h6 {
              font-size: 16px;
              line-height: 110%;
              margin: 0 0 2px;
              padding: 0;
          }
          span {
              font-family: $headings-font;
              font-size: 10px;
          }
          a {
              color: #fff;
              text-decoration: underline;
          }
      }
      #sb-nav-close {
          top: 56px !important;
      }
  }