/*
  Variables
*/

// Colors
  
  $white: #fff;
  
  $black: #000;
  
  $lime: #f0f2d9;
  
  $green: #728f50;
  
  $lightestMaroon: #8c565e;
  $lighterMaroon: #764248;
  $lightMaroon: #773c45;
  $maroon: #733944;
  $darkMaroon: #764248;
  $darkerMaroon: #642a35;
  $darkestMaroon: #421720;
  
  $darkGreen: #293619;
  
  $navy: #294c6b;


  $primary: $darkGreen;
  $secondary: $maroon;
  $tertiary: $navy;
  
  $background: $lime;
  