{% load gobotany_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}{% block title_suffix %}: Go Orchids{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0, minimum-scale=1.0">

        <link rel="shortcut icon" href="{% static 'images/branding/favicon.png' %}">

        {# This block is for any additional meta or link elements. #}
        {% block more_meta_link %}{% endblock %}

        {# CSS goes here. #}
        {% block css %}

        {% static 'css/app.css' as file_path %}
        <link rel="stylesheet"
            href="{{ file_path }}?v={% file_version file_path %}">
        
        <!-- Google Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
        
        {% endblock %}

        {# JS goes here. #}

        {# This block is for adding any JS that *has* to come first, #}
        {# such as SVGWeb. #}
        {% block js_top %}{% endblock %}

        {# This HTML5 fix for old IE will only apply if the user views #}
        {# the site in IE without the required Chrome Frame plug-in.   #}
        <!--[if lt IE 9]>
        <script
            src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% include "gobotany/_script_constants.html" %}

        {% if not in_production %}

        <!-- DEVELOPMENT FILES -->
        <script src="{% static 'scripts/lib/require.js' %}"5></script>
        <script src="{% static 'scripts/require_config.js' %}"></script>

        {% else %}

        <!-- PRODUCTION / DEPLOYMENT FILES -->
        {% static 'js/gobotany.application.js' as file_path %}
        <script src="{{ file_path }}?v={% file_version file_path %}"></script>

        {% endif %}

        <script>
            require(['util/suggester_init']);
            require(['orchid_site/protect_images']);
            {% block js_require %}{% endblock %}
        </script>

        {% if in_production %}

        {# Google analytics tracking code #}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-34517897-7', 'auto');
          ga('send', 'pageview');

        </script>

        {% endif %}

        {% block ember_templates %}{% endblock %}
    </head>

    <body {% block body_attributes %}{% endblock %}>

        {% include "gobotany/_chrome_frame.html" %}

        <div id="all">
            {% block header %}
                {% include "gobotany/_header.html" %}
            {% endblock %}

            {% block body_content %}{% endblock %}

            {% block footer %}
                {% include "gobotany/_footer.html" %}
            {% endblock %}
        </div>
    </body>
</html>
