        {% load static %}
        {# Prompt to install Chrome Frame on IE 8 and below if needed #}
        <!--[if lt IE 9]>
        <script type="text/javascript"
            src="{% static 'scripts/util/chrome_frame.js' %}"></script>
        <div id="ie-note">
            <p>Welcome to <em>Go Orchids</em>! This site runs best using
            <a href="http://www.mozilla.org/en-US/firefox/">Firefox</a>,
            <a
                href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95346">Chrome</a>,
            or <a href="http://www.apple.com/safari/">Safari</a>.</p>
            <p>
            You can continue using the site with Internet Explorer,
            but some parts may not function optimally.</p>
            <p class="dismiss"><a
                href="javascript:dismiss_gcf_install();">Continue using Internet Explorer</a></p>
        </div>
        <script>
            // If the user asked to hide the GCF install for this
            // browsing session, do so.
            var hide_install_cookie = get_cookie('hide_gcf_install');
            if (hide_install_cookie === 'true') {
                window.attachEvent("onload", function() { dismiss_gcf_install(); });
            }
        </script>
        <![endif]-->
