{% load static %}

    <header class="global-header">
      <div class="container">
        <div class="logo-container">
          <a href="/" class="naocc-logo"><img src="{% static 'images/graphics/naocc-logo.png' %}" alt="North American Orchid Conservation Center" /></a>
          <h1>North American Orchid Conservation Center</h1>
        </div>
        <nav class="menu-container">
          <div id="search">
            <a id="donate" class="button" href="http://research.serc.si.edu/researchdata/donation_NAOCC_cfm/payment_form.php">Donate</a>
            <form id="search-suggest" action="/search/" autocomplete="off">
                <input type="search" name="q" placeholder="Search..."
                    value="{{ request.GET.q }}"
                    class="suggest"
                    data-suggest-url="{% url 'site-search-suggestions' %}?q=%s"
                    data-submit-on-select="true">
                <input type="submit" class="button search-field" value="!" />
            </form>
          </div><!-- /#search -->
          <nav class="main-navigation">
            <label for="mobile-menu" class="button mobile">Menu</label>
            <input type="checkbox" id="mobile-menu" />
            <ul>
              {% include "gobotany/_primary_navigation.html" %}
            </ul>
          </nav>
        </nav><!-- /.menu-container -->
      </div>
    </header>
