{% load gobotany_tags %}

              <li class="home">{% nav_item 'Home' site-home %}<span class="icon-arrow-right"></span></li>
              <li class="about">{% nav_item 'About' site-about %}<span class="icon-arrow-right"></span></li>
              <li class="simple"><a href="/simple/monocots/orchid-monocots">Simple Key</a><span class="icon-arrow-right"></span></li>
              <li class="glossary">{% nav_item 'Glossary' site-glossary-main %}<span class="icon-arrow-right"></span></li>
    		  <li class="org"><a title="North American Orchid Conservation Center" href="http://northamericanorchidcenter.org/">NAOCC</a></li>
