{% extends "gobotany/_base.html" %}
{% load simplekey_extras %}

{% block css %}
{% include "gobotany/_new_css.html" %}
{% endblock %}

{% block title %}Go Orchids: North American Orchid Conservation Center{% endblock %}
{% block title_suffix %}{% endblock %}

{% block more_meta_link %}
    <link rel="alternate" type="application/atom+xml"
        title="Atom feed: Plant of the Day"
        href="http://{{ request.META.HTTP_HOST }}/plantoftheday/atom.xml">
{% endblock %}

{% block body_attributes %}id="home"{% endblock %}

{% block js_require %}
    require(['site/home']);
{% endblock %}

{% block header %}
    {% include "gobotany/_header.html" with page="home" %}
{% endblock %}

{% block body_content %}
    <div class="content">
        <div class="container">
            <div id="banner">
              <div class="banner-background">
                <div id="overlay">
                  <h1>Go Orchids</h1>
                  <p>Go Orchids is a tool to explore orchids native to the
                  U.S. and Canada. Go Orchids will initially focus on orchids
                  in New England and the mid-Atlantic. Orchids of the southeast
                  and Alaska will be added this year and all remaining orchids
                  in two years.</p>
                  <ul>
                    <li><span>&gt;</span> Learn more about <a href="http://northamericanorchidcenter.org/">NAOCC</a>.</li>
                    <li><span>&gt;</span> Learn more about the <a href="/family/orchidaceae/">Orchid family</a>.</li>
                  </ul>
                  <p>To explore Go Orchids, select one of the methods listed
                  below. Happy orchid hunting!</p>
                </div><!-- /#overlay -->
              </div>
            </div><!-- /#banner -->
            <div class="three-col">
                {% include "_key_entry.html" with page="home" %}
            </div>
            <div id="potd">
            {% if plant_of_the_day %}
                <figure class="picture-wrapper">
                    <a href="/species/{{ plant_of_the_day.genus_name|lower }}/{{ plant_of_the_day.epithet }}/"
                        title="Learn more about {{ plant_of_the_day.scientific_name }}">
                      <img src="{{ plant_of_the_day_image.image_medium }}"
                           alt="{{ plant_of_the_day.scientific_name }}">
                    </a>
                </figure><!-- /.picture-wrapper -->
                <div class="details">
                    <h3>Featured Orchid</h3>
                    <p><em class="latin">{{ plant_of_the_day.scientific_name|italicize_plant|safe }}</em> (<span class="english">{{ plant_of_the_day.common_names.all.0 }})</span></p>
                    <p>{{ plant_of_the_day.factoid|slice:":274"}}
                    {% if plant_of_the_day.factoid|length > 274 %}...{% endif %}</p>
                    <a class="learn-more" href="/species/{{ plant_of_the_day.genus_name|lower }}/{{ plant_of_the_day.epithet }}/">Learn More &raquo;</a>
                </div>
            {% else %}
                <p>Error: Featured Orchid information missing</p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "gobotany/_footer.html" %}
{% endblock %}
