<html>
<head>
  <style type="text/css">
    .message {background-color: yellow;}
  </style>
</head>
<body>
  <h1>Import Saved Data</h1>

  <form name="loaddata" action="." method="POST">
    {% if message %}
    <div class="message">{{message}}</div>
    {% endif %}
    <h3>Choose file to restore</h3>
    {% for name in files %}
    <input id="name-{{forloop.counter}}" type="radio" name="filename" value="{{name}}" {% if forloop.first %}checked="1"{% endif %}/><label for="name-{{forloop.counter}}">{{name}}</label><br />
    {% endfor %}
    {% csrf_token %}
    <input type="submit" value="Import"/>
  </form>
  <h4>Import History</h4>
  <table border="1">
    <thead>
      <tr><th>Date</th><th>Filename</th><th>Success</th><th>Duration</th><th>Message</th></tr>
    </thead>
    <tbody>
      {% for entry in logs %}
      <tr>
        <td>{{ entry.start|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ entry.filename }}</td>
        <td style="text-align: center">{{ entry.success }}</td>
        <td style="text-align: center">{{ entry.duration }}s</td>
        <td>{{ entry.message }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  <a href="{% url 'admin:app_list' 'core' %}">Return to admin</a>
</body>
