/*
  Modules: Characteristics
*/

.characteristics {
  
  dl {
    @include clearfix;
    padding: 0 0 5px;
    
    dt,
    dd {
      display: block;
      float: left;
    }
    
    dt {
      text-align: right;
      padding: 0 10px 0 0;
      width: 30%;
    }
    
    dd {
      width: 70%;
      
      ul {
        display: inline-block;
        list-style: disc;
        padding: 0 0 0 15px;
        vertical-align: text-top;
      }
    }
  }
  
  dt {
    font-weight: 600;
    text-transform: uppercase;
  }
  
  @include media(max-width 800px) {
    dl {
      dt {
        width: 40%;
      }
      dd {
        width: 60%;
      }
    }
  }
  
  @include media(max-width 500px) {
    dl {
      
      dt,
      dd {
        float: none;
        text-align: left;
        width: 100%;
      }
    
      dt {
        padding: 15px 0 5px;
      }
    }
  }
}