.content-area {
  padding: 0 0 25px;
  
  h2,
  p,
  dl {
    padding: 0 0 10px;
  }
}

  .full-description {
    display: none;
  }
  
  .genera,
  .species {
    @include clearfix;
    
    > li {
      @include span-columns(4);
      padding: 0 0 10px;
      
      &:nth-child(3n) {
        @include omega;
      }
    }
    
    @include media(max-width 500px) {
      @include span-columns(12);
      
      &:nth-child(3n) {
        @include span-columns(6);
      }
      
      &:nth-child(even) {
        @include omega;
      }
    }
  }
  
  .content-area {
    #conservation-status,
    .map {
      @include span-columns(6);
      
      @include media(max-width 800px) {
        @include span-columns(12);
        margin: 0 0 30px;
      }
    }
  }