/*
  Components: Pagination
*/

.search-navigation {
  @include clearfix;
  padding: 25px 0 0;
  
  li {
    display: inline-block;
    padding: 0 5px 0 0;
    
    &.current {
      a {
        background: $darkestGreen;
        border: 1px solid $darkestGreen;
      }
    } // .current
    
    a {
      border: 1px solid $darkerGreen;
      border-radius: 2px;
      color: $white;
      display: inline-block;
      line-height: 1;
      @include linear-gradient($green, $darkGreen);
      padding: 5px 7px;
      text-shadow: 1px 1px 0 $darkestGreen;
      @include transition(background .2s ease-in-out, border .2s ease-in-out);
      
      &:hover {
        border: 1px solid $darkestGreen;
        background: $darkestGreen;
      }
    } // li a
  } // li
}