<div>
    <h3>Find an Orchid by Location</h3>
    <p>Find an orchid by entering your geographic location.</p>
    <form action="/key-by-location/" method="GET">
      <input name="state_distribution" placeholder="Enter state or province"
             class="suggest" data-suggest-url="/location-suggestions?q=%s" data-submit-on-select="true"/>
      <input type="submit" class="button" value="Search" />
    </form>
</div>
<div>
    <h3>Find an Orchid by Name</h3>
    <p>Find an orchid by entering the scientific or common name.</p>
    <form action="/search/">
      <input name="q" placeholder="Enter genera or taxon"
             class="suggest" data-suggest-url="/plant-name-suggestions?q=%s" data-submit-on-select="true"/>
      <input type="submit" class="button" value="Search" />
    </form>
</div>
<div>
    <h3>Simple Key</h3>
    <p>Enter the key to narrow your orchid search by answering
    simple questions.</p>
    <a class="button" href="/simple/monocots/orchid-monocots/" >Go to Simple Key</a>
</div>
