/* ==== Banner ==== */

#banner {
  background-color: $darkestGreen;
  background: url(../images/photography/homepage-banner.jpg) no-repeat 0 0; 
  display: table;
  @include separator;
  padding: 1%;
  height: 425px;
  
  .banner-background {
    display: table-cell;
    vertical-align: middle;
  }
  
  #overlay {
    background: $lighterGreen;
    background: rgba(240, 242, 217, 0.7);
    padding: 2%;
    text-shadow: 1px 1px 1px rgba(200, 208, 176, 0.6);
    width: 35%;
    
    h1 {
      padding: 0 0 10px;
    }
    
    ul {
      border-bottom: 1px solid $green;
      @include box-shadow(0 1px 0 rgba(200, 208, 176, 0.6));
      margin: 0 0 10px;
      padding: 0 0 10px;
      
      li {
        padding: 0 0 5px;
        
        span {
          color: $green;
        }
      }
    }
  }
  
  // Media Queries
  
  @include media(max-width 1050px) {
    #overlay {
      width: 45%;
    }
  }
  
  @include media(max-width 780px) {
    padding: 3%;
    
    #overlay {
      width: 60%;
    }
  }
  
  @include media(max-width 715px) {
    @include background-size(contain);
    height: 0;
    padding: 47% 0 0;
    
    #overlay {
      padding: 0;
      width: 100%;
      
      p {
        &:last-of-type {
          padding: 0;
        }
      }
    }
  }
}