/*
  Layout: Content
*/

.content {
  padding: 30px 0;
}

#main {
  @include span-columns(4 of 6);
  
  h2 {
    padding: 20px 0;
    
    &:first-of-type {
      padding: 0 0 20px;
    }
  }
  
  .VisitLink {
    display: inline-block;
    margin: 0 0 20px;
  }
}