/*
  Layout: Content
*/

.content {
  padding: 30px 0;
}

#main,
.no-sidebar #main .main-content-wrapper {
  @include span-columns(4 of 6);
  
  .VisitLink {
    display: inline-block;
    margin: 0 0 20px;
  }
}

  .no-sidebar {
    #main {
      @include span-columns(12);
      @include omega;
    }
  }
  
.main-content {
  @include span-columns(9);
}

// Media Queries

  #main,
  .main-content {
    @include media(max-width 815px) {
      @include span-columns(12);
      @include omega;
      margin: 0 0 45px;
    }
  }