/*
  Layout: Featured Section
*/

#potd {
  @include clearfix;
  
  .picture-wrapper {
    @include span-columns(3);
  }
  
  .details {
    @include span-columns(9);
  }
  
  .latin {
    padding: 0 10px 0 0;
  }
  
  h3,
  p {
    padding: 0 0 5px;
  }
  
  p:last-of-type {
    padding: 0 0 10px;
  }
}

@media only screen and (max-width: 400px) {
    #potd .picture-wrapper {
        float: none;
        width: 100%;
        margin-bottom: 1em;
    }
}