/*
  Layout: Header
*/

header {
  @include font-size(15);
  line-height: 1;
  @include linear-gradient($lightestMaroon, $lighterMaroon);
  
  .container {
    padding: 30px 20px 20px 25px;
  }

  a {
    color: $white;
  }
  
  nav {
    border: 1px solid $darkestMaroon;
    border-radius: 5px;
    @include box-shadow(inset 0 1px 1px $lightestMaroon);
    @include clearfix;
    @include linear-gradient($darkerMaroon, $darkestMaroon);
    height: 54px;
    padding: 7px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    
    a {
      color: $white;
      text-decoration: none;
      
      &:not([href]) {
        color: $green;
      }
    }
    
    
    ul {
      @include clearfix;
      padding: 10px 0 10px 100px;
      @include span-columns(6);
      
      li {
        float: left;
        padding: 0 35px 0 0;
      }
    } // ul
    
    #search {
      @include span-columns(6);
    }
  } // nav
} // header
    
    .naocc-logo {
      position: absolute;
        left: 0;
        top: 10px;
        z-index: 4;
      
      &::before {
        border-top: 1px solid $darkestMaroon;
        border-bottom: 1px solid $darkestMaroon;
        @include box-shadow(inset 0 1px 0 $lightestMaroon);
        content: " ";
        height: 52px;
        @include linear-gradient($darkerMaroon, $darkestMaroon);
        position: absolute;
          left: 100px;
          top: 20px;
        width: 15px;
        z-index: -1;
      }
      
      &::after {
        content: " ";
        border-radius: 0 0 120px 120px;
        display: block;
        height: 60px;
        @include linear-gradient(#814a51, $lighterMaroon);
        position: absolute;
          left: -6px;
          bottom: -5px;
        width: 121px;
        z-index: -2;
      }
    }
    
    #search {
      
      #donate {
        float: right;
      }
      
      #search-suggest {
        float: right;
        position: relative;
        width: 50%;
      }
      
      .menu {
        position: absolute;
        
        &.hidden {
          display: none;
        }
      }
      
      input[type="search"] {
        padding: 7px 35px 7px 5px;
      }
      input[type="submit"] {
        position: absolute;
          top: 6px;
          right: 5px;
      }
    } // #search