/* ==== Layout: Sidebar ==== */

#sidebar {
  @include green-background;
  padding: 10px 15px;
  @include span-columns(2 of 6);
  
  > div {
    border-bottom: 1px solid $lightGreen;
    @include box-shadow(0 1px 0 $lightestGreen);
    padding: 30px 0;
    
    &:first-child {
      padding: 20px 0 30px;
    }
    &:last-child {
      border: 0;
      @include box-shadow(none);
      padding: 30px 0 20px;
    }
  }
  
  h3,
  p {
    padding: 0 0 10px;
  }
  
  input,
  .button {
    margin: 0 0 10px;
  }
  
  &.taxonomy {
    float: right;
    margin: 0 0 15px 15px;
    width: 20%;
    
    > div {
      padding: 10px 0;
      
      h4,
      p {
        padding: 0 0 5px;
      }
    }
  }
  
  @include media(max-width 820px) {
    @include span-columns(12);
    
    > div {
      padding: 15px 0 !important;
      
      form {
        padding: 0 100px 0 0;
        position: relative;
        
        .button {
          position: absolute;
            top: 1px;
            right: 0;
        }
      }
    } // div
  } // media 820px
}