.skey { // simpley key body class
  
  img.arrow {
    display: none;
  }
  
  #main {
    @include clearfix;
    
    .main-content-wrapper {
      @include span-columns(9);
      @include omega;
    }
    
    @include media(max-width 1024px) {
      .select2-container {
        display: none;
        
        + select {
          position: relative;
          left: auto;
        }
      }
    }
    
    @include media(max-width 865px) {
          
      .main-content-wrapper {
        @include span-columns(8 of 12);
        @include omega;
      }
    }
    
    @include media(max-width 650px) {
      .main-content-wrapper {
        border-top: 1px solid $green;
        margin: 30px 0 0;
        padding: 20px 0 0;
        @include span-columns(12);
      }
    }
    
    @include media(max-width 500px) {
      
      .results-tabs-content {
        padding: 10px 0;
      }
    }
  }
  
  // SIDEBAR
  .sidebar {
    background: #d6dcbf;
    border-radius: 3px;
    @include font-size(13);
    position: relative;
    @include span-columns(3);
    
    .scroll {
      max-height: 450px;
      overflow: scroll;
    }
    
    @include media(max-width 865px) {
      @include span-columns(4 of 12);
    }
    
    @include media(max-width 650px) {
      @include span-columns(12);
      
      .working-area {
        .choice {
          background: $darkGreen;
          border-bottom: 1px solid $darkestGreen;
          color: $white;
          padding: 8px 10px;
          position: relative;
          
          &.checked {
            
            label:after {
              background: #666;
              border: 1px solid #333;
              @include box-shadow(inset 1px 1px 2px #333);
              color: $white;
              content: "Selected";
              font-weight: 400;
            }
          }
          
          .gloss {
            color: $lightestGreen;
            border-bottom: 1px dashed $lightestGreen;
          }
          
          input {
            display: none;
          }
        
          label {
            
            &:after {
              border: 1px solid #c0c0c0;
              @include box-shadow(none);
              color: $primary;
              cursor: pointer;
              display: inline-block;
              @include font-size(11);
              font-weight: 600;
              line-height: 1;
              @include linear-gradient(#e9e9e9, #bfbfbd);
              padding: 5px 7px;
              text-shadow: none;
              text-transform: uppercase;
              content: "Select";
              position: absolute;
                top: 15px;
                right: 10px;
              z-index: 10;
              
              &:hover {
                background: #aaa;
              }
            }
          }
        } // .choice
        
        .terms {
          padding: 10px 0;
          
          &.none {
            display: none;
          }
          
          &.closed {
            display: block !important;
          }
          
          h5 {
            padding: 0 0 10px;
          }
          
          ul li {
            padding: 0 0 5px;
            
            span {
              font-weight: 600;
              padding: 0 5px 0 0;
            }
          }
        }
      } // .working-area
    } // 650px
    
    .instructions {
      background: $lightestGreen;
      @include box-shadow(inset 0 0 5px $lightGreen);
      padding: 15px;
      
      h5 {
        color: $darkerGray;
        font-family: 'Open Sans', helvetica, arial, sans-serif;
        font-weight: 700;
        padding: 0;
      }
    }
    
    .close-filters {
      display: none;
      
      @include media(max-width 500px) {
        display: block;
      }
    }
    
    .filter-header {
      cursor: none;
      display: block;
      
      .icon-plus,
      .icon-minus {
        display: none;
        @include font-size(10);
        float: right;
        margin: 5px 0 0;
        text-shadow: 1px 1px 1px $white;
      }
    }
    
    #question-nav {
      @include media(max-width 500px) {
        
        .filter-header {
        
          .icon-plus,
          .icon-minus {
            display: block;
          }
          
          &:hover {
            background: $darkGreen;
            @include transition(all 0.5s ease-in-out);
            
            h5 {
              color: $white;
              text-shadow: none;
            }
          }
        }
        
        &.closed {
          .scroll,
          .more,
          .family-genus,
          .clear,
          .close-filters {
            height: 0;
            padding: 0;
            overflow: hidden;
          }
        }
        
        .scroll {
          height: 350px;
          @include transition(height 0.5s linear);
        }
      }
    } // #question-nav
    
    .section {
      @include media(max-width 500px) {
        
        &.filter-header {
          cursor: pointer;
          display: block;
          
          &.active {
            ~ .section {
              display: block;
            }
            ~ .section.hidden {
              display: none;
            }
          }
        }
      } // max-width 500px
    } // .section
    
    .option-list {
      
      > li {
        border-bottom: 1px solid #9a9f86;

        &.active {
          .option {
            background: $darkerGreen;
            color: $white;
            @include transition(background .5s ease-in-out);
            
            &:after {
              content: "\25";
            }
            
            .gloss {
              color: $white;
            }
          }
        }

        .option {
          cursor: pointer;
          display: block;
          padding: 15px;
          position: relative;
          
          &:after {
            content: "\26";
            font-family: 'icomoon';
            position: absolute;
              right: 15px;
              top: 17px;
            z-index: 10;
          }
          
          @include media(max-width 500px) {
            
            .icon-cancel-close {
              &:before {
                border: 1px solid #c0c0c0;
                @include box-shadow(none);
                color: $primary;
                content: "Clear";
                font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                @include font-size(11);
                @include linear-gradient(#e9e9e9, #bfbfbd);
                margin: 0 0 0 5px;
                padding: 5px 7px;
                text-shadow: none;
                text-transform: uppercase;
              }
            }
          }
          
          .name,
          .value {
            display: block;
            line-height: 1.5;
            
            .button {
              margin: 5px 0 0;
            }
          }
          
          .name {
            font-weight: 600;
          }
          
          .value {
            font-style: italic;
          }
        }
        
        .working-area {
          background: $lightestGreen;
          @include box-shadow(inset 0 0 5px $lightGreen);
          padding: 10px 15px 20px;
          
          .closed {
            display: none;
          }
          
          .drawing {
            img {
              max-height: 70px;
              max-width: none;
            }
          }
          
          label {
            display: block;
            padding: 10px 0;
            
            input {
              display: inline-block;
              margin: 0 5px 0 0;
            }
          }

        } //.working-area
      }
    } // .option-list
    
    .section {
      padding: 15px;
      
      &.clear {
        padding: 15px 15px 10px;
        text-align: center;
        
        .button {
          margin: 0 0 0 15px;
        }
      }
      
      &.help {
        padding: 5px 15px 15px;
        text-align: center;
      }
      
      p:last-child {
        padding: 0;
      }
      
      .already-know {
        h6 {
          padding: 0 0 10px;
        }
        label {
          display: block;
          padding: 0 0 5px;
        }
        .button {
          margin: 0 0 0 10px;
        }
        .ember-view {
          margin: 0 0 5px;
        }
        .select2-container {
          width: 65%;
        }
      }
      
      .get-choices,
      .clear-all-btn,
      .get-help-btn {
        @extend .button;
        margin: 0;
      }
      
      .get-choices {
        display: block;
        margin: 0 0 10px;
        text-align: center;
      }
    }
    
  } // .sidebar
  
  // MAIN CONTENT
  .main-content-wrapper {
    
    .main-content-header {
      @include clearfix;
      
      h1 {
        float: left;
        margin: 10px 0 0;
      }
      
      .species-count-heading {
        display: inline-block;
        margin: 10px 0 0;
      }
    }
    
    #filters-preview {
      display: none;
      
      @include media(max-width 500px) {
        display: block;
        
        ul.ember-view {
          border: 1px solid $darkestGreen;
        }
        
        li.ember-view {
          border-bottom: 1px solid $darkestGreen;
          @include clearfix;
          @include linear-gradient($darkGreen, $darkerGreen);
          padding: 5px 10px;
          
          &:last-child {
            border-bottom: 0;
          }
        }
        
        .name,
        .value {
          color: $white;
          display: block;
          float: left;
          text-shadow: 1px 1px 1px $darkestGreen;
        }
        
        .name {
          color: $lightestGreen;
          font-style: italic;
          font-weight: normal;
          padding: 0 15px 0 0;
          text-align: right;
          width: 40%;
        }
        
        .value {
          font-weight: normal;
          width: 60%;
        }
      }
    }
    
    .select2-container {
      margin: 0 0 0 5px;
      width: 20%;
    }
    
    .plant-list {
      @include clearfix;
      position: relative;
      
      @include media(max-width 1024px) {
        height: auto !important;
      }

      .plant {
        background: #f7f9ed;
        border: 1px solid $lighterGreen;
        @include box-sizing(content-box);
        display: none;
        @include font-size(12);
        height: 210px;
        padding: 8px 6px;
        position: absolute;
        text-align: center;
        width: 160px;
        
        &.in-results {
          display: block;
        }

        &.genus_join_left {
          border-left: 0;
        }
        
        &.genus_join_right {
          border-right: 0;
          padding-right: 12px;
        }
        
        @include media(max-width 1024px) {
          border: 0;
          @include box-shadow(0 0 3px 1px $lightGray);
          height: auto;
          min-height: 220px;
          padding: 5px;
          margin: 0 5px 5px 0;
          position: relative;
          float: left;
          top: auto !important;
          left: auto !important;
          
          &.genus_join_right {
            padding-right: 5px;
          }
        }
        
        @include media(max-width 775px) {
          width: 140px;
        }
        
        .plant-name {
          line-height: 1.4;
          padding: 10px 0 0;
          
          .latin {
            display: block;
            font-style: italic;
          }
        }
        
        .missing-image {
          background: #ccc;
          padding: 55px 30px 35px;
        }
        
        .plant-img-container {
          display: inline-block;
          line-height: 1;
          position: relative;
          
          img {
            display: inline-block;
            margin: 0;
            padding: 0;
            line-height: 1;
          }
          
          &:after {
            @include box-shadow(inset 0 0 0 5px rgba(255, 255, 255, .6));
            content: " ";
            height: 100%;
            position: absolute;
              top: 0;
              left: 0;
            width: 100%;
          }
        }
        
      } // .in-results
    } // .plant-list
    
    #results-tabs {
      @include clearfix;
    
      li {
        float: left;
        padding: 0 0 0 5px;
        
        a {
          border: 1px solid #c6c8b0;
          border-radius: 3px 3px 0 0;
          @include box-shadow(0 0 5px #c6c8b0);
          display: inline-block;
          padding: 5px 25px;
          position: relative;
          
          &:before {
            background: $lime;
            content: " ";
            bottom: -8px;
            display: block;
            height: 7px;
            left: 0;
            position: absolute;
            z-index: 20;
            width: 100%;
          }
          
          &.current {
            &:before {
              bottom: -5px;
            }
          }
        }
      }
    } // #results-tabs
    
    .results-tabs-content {
      //background: $lime;
      //border-top: 1px solid #c6c8b0;
      //margin-top: -1px;
      //padding: 25px 0;
    } // .results-tabs-content
    
    #results-display {
      padding: 10px 0 15px;
    }
    
    .ember-view {
      @include clearfix;
    }

    .main-content-header {
      h1 {
        display: inline-block;
      }
    
      .species-count-heading {
        float: right;
        margin: 20px 0;
      }
    }
    
  } // .main-content-wrapper
  
  // Modal
  #intro-overlay {
    position: fixed;
      left: 0 !important;
      top: 15% !important;
    text-align: center;
    width: 100%;
    z-index: 9999;
    .continue {
      cursor: pointer;
    }
    
    .number-of-questions {
      .button {
        position: relative;
      
        &:after {
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
          border-right: 25px solid #4e6f91;
          content: " ";
          position: absolute;
          left: -30px;
          top: 0;
        }
      }
    } // .number-of-questions
  } // #intro-overlay
  
  .toplink {
    background: rgba(255, 255, 255, .5);
    padding: 10px;
    position: fixed;
    bottom: 20%;
    right: 10px;
    z-index: 10;
    
    .button {
      margin: 0;
    }
  }
}

  #plant-detail-modal {
    background: $white;
    border-radius: 5px;
    @include clearfix;
    @include font-size(13);
    padding: 25px 15px;
    
    .modal-wrap {
      padding: 0;
    }
    
    h3.heading {
      @include font-size(24);
      font-style: italic;
      margin: 0 0 20px;
      padding: 13px 0 0 20px;
      
      span {
        border-left: 1px solid $lightGray;
        font-style: normal;
        padding: 0 0 0 10px;
        margin: 0 0 0 5px;
      }
    }
    
    #plant-details {
      padding: 10px 10px 0;
    }
    
    .list-item {
      @include clearfix;
    }
    
    .img-gallery {
      float: left;
      margin: 0 10px 0 0;
      position: relative;
      width: 25%;
      
      .frame {
        border: 5px solid rgba(255, 255, 255, 0.8);
        @include box-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
        height: 240px;
        position: absolute;
          top: 0;
        width: 100%;
        z-index: 100;
      }
      
      .img-container {
        height: 239px;
        position: relative;
        overflow: hidden;
        width: 100%;
        
        .images {
          clear: both;
          margin: 0;
          padding: 0;
          position: absolute;
          width: 12000px;
        }
      }
      
      .controls {
        text-align: center;
        
        a {
          cursor: pointer;
          display: inline-block;
          height: 32px;
          @include hide-text;
          width: 32px;
          
          &.disabled {
            cursor: none;
            opacity: 0.4;
          }
          
          &.prev {
            background: url(/static/images/icons/prev-larger.png) 0 0 no-repeat rgba(0, 0, 0, 0);
          }
          &.next {
            background: url(/static/images/icons/next-larger.png) 0 0 no-repeat rgba(0, 0, 0, 0);
          }
        } // a
      } // .controls
    } //.img-gallery
    
    .details {
      float: left;
      margin: 0 0 0 5%;
      width: 65%;
      
      p {
        line-height: 1.4;
        padding: 0 0 15px;
      }
      
      .button {
        @include font-size(18);
        line-height: 1;
        margin: 15px 0 0;
        padding: 10px 40px;
      }
    }
  }
  
  .modal-wrap {
    background: $white;
    border-radius: 5px;
    padding: 20px;
    
    .get-choices-ready {
      @extend .button;
    }
  }
  
  #notification-msg {
    background: rgba(255, 255, 255, .9);
    border-radius: 5px;
    @include box-shadow(0 0 5px #333);
    @include font-size(18);
    font-weight: 600;
    padding: 20px;
  }