/*
  Layout: Three Col
*/

.three-col {
  @include clearfix;
  @include green-background;
  @include separator;
  padding: 20px 35px;
  
  > div {
    border-right: 1px solid darken($lightGreen, 10%);
    @include box-shadow(1px 0 0 $lightestGreen);
    float: left;
    padding: 0 3%;
    width: 35%;
    
    &:first-child {
      padding: 0 3% 0 0;
      width: 32.5%;
    }
    
    &:last-child {
      border-right: 0;
      padding: 0 0 0 3%;
      width: 32.5%;
    }
  }
  
  h3 {
    padding: 0 0 10px;
  }
  
  p {
    padding: 0 0 20px;
  }
  
  input {
    margin: 0 0 20px;
  }
  
  .button {
    margin: 0;
  }
}