/*
  Layout: Three Col
*/

.three-col {
  @include clearfix;
  @include green-background;
  @include separator;
  padding: 20px 35px;
  
  > div {
    border-right: 1px solid $lightGreen;
    @include box-shadow(1px 0 0 $lightestGreen);
    float: left;
    padding: 0 3%;
    width: 35%;
    
    &:first-child {
      padding: 0 3% 0 0;
      width: 32.5%;
    }
    
    &:last-child {
      border: 0;
      padding: 0 0 0 3%;
      width: 32.5%;
    }
  }
  
  h3 {
    padding: 0 0 10px;
  }
  
  p {
    padding: 0 0 20px;
  }
  
  input {
    margin: 0 0 20px;
  }
  
  .button {
    margin: 0;
  }
  
  // Media Queries
  @include media(max-width 800px) {
    padding: 10px 20px;
    
    > div {
      border: 0;
      border-bottom: 1px solid $lightGreen;
      @include box-shadow(none);
      padding: 20px 0;
      @include span-columns(12);
      
      &:first-child {
        padding: 20px 0;
        width: 100%;
      }
      &:last-child {
        padding: 20px 0;
        width: 100%;
      }
    }
    
    input[type="text"] {
      display: inline-block;
      margin: 0 10px 10px 0;
      width: 60%;
    }
    
    .button {
      margin: 0 0 10px;
    }
  } // 800px
}